a.btn-red {
    color: #fff;
    background: #FF0066;
    padding: 0.5rem 1rem;
    display: inline-block;
    border-radius: 4px;
    transition-duration: .25s;
    border: none;
    font-style: 22px;
    font-weight: bold;
}

a.btn-green {
    color: #fff;
    background: #87bb34;
    padding: 0.5rem 1rem;
    display: inline-block;
    border-radius: 4px;
    transition-duration: .25s;
    border: none;
    font-style: 22px;
    font-weight: bold;
}

#monModal{
    color: black;
    font-weight: 600;
    text-align: center;
}